<div id="skip">
  <dl>
    <dt class="blind">direct menu</dt>
    <dd>
      <a href="#nav">go to the menu</a>
    </dd>
    <dd>
      <a href="#main">go to the main contents</a>
    </dd>
  </dl>
</div>
<!-- //skip navigation -->
<div id="wrap">
  <!--careers header-->

  <!--  S : header-->
  <header>
    <h1 class="logo">
      <a href="#">HVCC Logo</a>
    </h1>

    <!-- <div class="util_menu">
    <a href="/En/Main/Careers">Careers</a>
    <a href="http://www.hanonsystems.com/" class="last">Korean</a>
    <a href="/Kr/" class="last">Korean</a>
  </div> -->


    <nav id="nav">
      <ul class="gnb depth1">
          <div class="pull-right"><b>Filter Stock</b><file-upload #fu (change)="fu.uploadStocksFile()" [multiple]="true"></file-upload></div>
   <!--     <form method="POST" enctype="multipart/form-data"
          action="/hanon/uploadStocksFile">
          <div class="row">
           
              <input type="file" id="uploadFile"
              name="file" class="pull-right" />
          </div>
        
        </form> -->
       


      </ul>
    </nav>

  </header>
  <!--  E : header-->

  <!--  S : main-->
  <div id="main">



    <section class="main_banner">
      <article class="main_view">
        <div class="flexslider">
          <ul class="slides">
            <li class="slide01"><a href="#"><img
                src="./assets/images/main_banner4.jpg"
                alt="Create a Happy Nature. A New Wind is Blowing in Climate Control. We are your neighbor. We are a corporate citizen." />
                <div class="main_view_txt">
                  <h2>
                    Automotive Thermal Energy<br />Management Solutions
                  </h2>
                  <p>
                    We have a differentiated solution<br />around system
                    integration
                  </p>
                </div> </a></li>
            <li class="slide02"><a href="#"><img
                src="./assets/images/main_banner1.jpg"
                alt="Create a Happy Nature. A New Wind is Blowing in Climate Control. We are your neighbor. We are a corporate citizen." />
                <div class="main_view_txt">
                  <h2>Deep R&D Expertise</h2>
                  <p>
                    Is one of the critical factors that allows
                    <!-- 150721 ì­ì HVCC-->
                    to deliver Innovative climate control solutions to vehicle
                    manufactures.
                  </p>
                </div> </a></li>
            <li class="slide03"><a href="#"><img
                src="./assets/images/main_banner3.jpg"
                alt="Create a Happy Nature. A New Wind is Blowing in Climate Control. We are your neighbor. We are a corporate citizen." />
                <div class="main_view_txt">
                  <h2>Eco-Friendly Products</h2>
                  <p>
                    We seek to deliver eco-friendly solutions <br>that
                    benefit customers and communities <br>around the world
                  </p>
                </div> </a></li>
            <!-- 20140902 ì­ì 
          <li class="slide03"><a href="/En/Company/Way"><img src="/Eng/Images/main/main_banner2.jpg" alt="Create a Happy Nature. A New Wind is Blowing in Climate Control. We are your neighbor. We are a corporate citizen." />
          <div class="main_view_txt">
            <h2>One Global Vision for<br>Future Growth</h2>
            <p>People, customers and technology - our core values <br />that underpin the HVCC Way and how we conduct <br />business </p>
          </div>
          </a></li>-->
          </ul>
        </div>
      </article>
    </section>
  </div>
  <!--  E : main-->

  <!--  S : footer-->
  <footer>
    <div class="copyright">COPYRIGHT&copy;2018 Hanon Systems ALL
      RIGHTS RESERVED.</div>
    <nav>
      <a href="#">Sitemap</a> <a href="#">Privacy Policy</a> <a href="#">Contact
        Us</a> <a href="#" class="last copy_Ethics">Ethics and Integrity</a>
    </nav>
    <!--<div class="sns">
    <a href="#"><img src="/Eng/Images/facebook.png" alt="facebook"></a>
    <a href="#"><img src="/Eng/Images/twitter.png" alt="twitter"></a>
    <a href="#" class="last"><img src="/Eng/Images/google.png" alt="google+"></a>
  </div>-->
    <div class="career_top">
      <a href="#">Careers</a> <a href="#" class="last">TOP â²</a>
    </div>
  </footer>
  <!--  E : footer-->

</div>

